<nav class="navbar navbar-expand-lg navbar-light bg-light nav-80">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Circle Connect</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if current_user %>
      <div class="collapse navbar-collapse pl-2" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="#">Posts</a>
            <a class="nav-link active" href="#">99</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Followers</a>
            <a><%= link_to "#{current_user.followers.count}", followers_path, class:"nav-link active" %><a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Following</a>
            <a><%= link_to "#{current_user.following.count}", followings_path, class:"nav-link active" %><a>
          </li>
        </ul>
        <%= form_with(url: search_path, method: "get", class: "d-flex") do |form| %>
          <%= form.text_field :query, placeholder: "search user..", class: 'form-control me-2' %>
          <%= form.submit "Search", class: 'btn btn-outline-success' %>
        <% end %>
      </div>
    <% end %>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ms-auto flex-nowrap">
            <li class="nav-item">
                <a href="#" class="nav-link m-2 menu-item nav-active">Our Solution</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link m-2 menu-item">How We Help</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link m-2 menu-item">Contact</a>
            </li>
            <% if current_user %>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle mt-2" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Hi <%= full_name(current_user)%>
                  </a>
                <ul class="dropdown-menu pt-10 ml-10" aria-labelledby="navbarDropdown">
                  <li><%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %></li>
                    <li><%= link_to "Follow Requests(#{request_count(current_user)})", requests_path, class:"dropdown-item" %></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><%= link_to "Logout", destroy_user_session_path, class: "dropdown-item" %></li>
                </ul>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Sign In", signin_path, class: "nav-link m-2 menu-item" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign Up", signup_path, class: "nav-link m-2 menu-item" %>
              </li>
            <% end %>
        </ul>
    </div>
  </div>
</nav>
